
-# this is the introductory screen with choices:
-# start new game, instructions
-# if start new game, show pop-up ? one or two
-# if want instructions, direct to instruction view

%h1 Welcome to the Game of Marienbad:


%center
    What would you like to do? 
%br
%br

= link_to 'instructions', instructions_board_index_path, id: 'instructions'

%br 
= link_to 'start new game', board_path(@board, turn: @turn), id: 'start'