%h1 How to play Marienbad:

%br
%br

%text 
    At each turn, a player can choose a row of sticks, and from that row
choose a number of sticks to remove.  Remember, for each turn
you can only remove sticks from one row.  
The person who has to pick the last stick left loses.